<style>{% bundleGet "css" %}</style>
{%- css %}* { color: blue; }{% endcss %}
<style>{% bundleGet "css" %}</style>
{%- css %}* { color: blue; }{% endcss %}
{%- css %}* { color: red; }{% endcss %}
<style>{% bundleGet "css" %}</style>