{%- css "defer" %}* { color: blue; }{% endcss %}
<style>{% getBundle "css" %}</style>
<link rel="stylesheet" href="{% getBundleFileUrl "css", "defer" %}">
<link rel="stylesheet" href="{% getBundleFileUrl "css", "defer" %}">